<section class="first-screen">
  <div class="container">
    <div class="first-screen__inner-wrapper">
      <div class="first-screen__block">
        <h1>
          УВАЖАЕМЫЕ УЧИТЕЛЯ, ШКОЛЬНЫЕ ОРГАНИЗАТОРЫ, ДЕТИ И РОДИТЕЛИ!
        </h1>
        <h2>
          Приглашаем Вас принять участие в конкурсе
        </h2>
        <button class="button">
          Принять участие
        </button>
      </div>
      <div class="first-screen__block">
        <div class="first-screen__img-wrapper">
          <img src="img/composition.svg" alt="Композиция">
        </div>
        <p>
          Оргкомитет дает 100% гарантию возврата средств за ненадлежащее выполнение своих обязательств
        </p>
      </div>
      <div class="first-screen__scroll-icon">
        <img src="img/scroll-icon.svg" alt="">
      </div>
    </div>
  </div>
</section>
