<footer class="footer">
  <div class="container">
    <div class="footer__inner-wrapper">
      <nav class="footer__nav">
        <ul>
          <li>
            <a href="#">
              Главная
            </a>
          </li>
          <li>
            <a href="#">
              Общие положения
            </a>
          </li>
          <li>
            <a href="#">
              Правила участия
            </a>
          </li>
          <li>
            <a href="#">
              Реквизиты
            </a>
          </li>
          <li>
            <a href="#">
              Контакты
            </a>
          </li>
          <li>
            <a href="#">
              Договор оферта
            </a>
          </li>
          <li>
            <a href="#">
              Новости
            </a>
          </li>
          <li>
            <a href="#">
              О проекте
            </a>
          </li>
          <li>
            <a href="#">
              Как принять участие?
            </a>
          </li>
          <li>
            <a href="#">
              Критерии
            </a>
          </li>
          <li>
            <a href="#">
              Коллегия учителей
            </a>
          </li>
          <li>
            <a href="#">
              Подписка
            </a>
          </li>
          <li>
            <a href="#">
              Итоги конкурсов
            </a>
          </li>
          <li>
            <a href="#">
              Пробные задания
            </a>
          </li>
          <li>
            <a href="#">
              Наградные материалы
            </a>
          </li>
          <li>
            <a href="#">
              Призы и подарки
            </a>
          </li>
          <li>
            <a href="#">
              Отзывы
            </a>
          </li>
          <li>
            <a href="#">
              Фотоотчеты
            </a>
          </li>
        </ul>
      </nav>
      <div class="footer__contacts">
        <p>
          с 6:00 до 14:00 по МСК
        </p>
        <p>
          сб-вс - выходной
        </p>
        <p>
          <a href="mailto:help@umniymamontenok.ru">
            help@umniymamontenok.ru
          </a>
        </p>
        <a href="tel:+73854555336">
          +7 3854 55 53 36
        </a>
        <a href="tel:+79520007639">
          +7 952 000 76 39
        </a>
      </div>
    </div>
    <div class="footer__info">
      <ul>
        <li>
          <a href="#">
            Скачать приглашение
          </a>
        </li>
        <li>
          <a href="#">
            Скачать регламент проведения
          </a>
        </li>
        <li>
          <a href="#">
            Скачать приказ о проведении
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright">
      copyright © 2019
    </div>
  </div>
</footer>
