<section class="information">
  <div class="container">
    <h2 class="title">
      Уважаемые учителя и школьные организаторы!
    </h2>
    <p>
      Оргкомитет конкурса «Умный Мамонтенок» приглашает принять участие в цикле Международных олимпиад для младшего и среднего школьного звена
    </p>
    <blockquote>
      <p>
        <strong>
          Как преуспеть ученикам? — Догонять тех, кто впереди, и не ждать тех, кто позади.
        </strong>
      </p>
      <span>
        <img src="img/blockquote-img.png" alt="Аристотель, древнегреческий философ">
        <p>
          Аристотель, древнегреческий философ
        </p>
      </span>
    </blockquote>
  </div>
</section>
