<section class="subject">
  <div class="container">
    <h2 class="title">
      Конкурсы проводятся по следующим дисциплинам:
    </h2>
    <div class="subject__inner-wrapper">
      <div class="subject__block">
        <img src="img/subject-img-1.svg" alt="1-е классы">
        <h3>
          1-е классы:
        </h3>
        <p>
          Обучение грамоте, Окружающий мир, Математика.
        </p>
      </div>
      <div class="subject__block">
        <img src="img/subject-img-2.svg" alt="2-4-е классы">
        <h3>
          2-4-е классы:
        </h3>
        <p>
          Русский язык, Окружающий мир, Математика, Английский язык, Немецкий язык, Литературное чтение.
        </p>
      </div>
      <div class="subject__block">
        <img src="img/subject-img-3.svg" alt="5-7-е классы">
        <h3>
          5-7-е классы:
        </h3>
        <p>
          Русский язык, Литература, Английский язык, Немецкий язык, Математика, Биология, История, Обществознание.
        </p>
      </div>
    </div>
    <h4>
      Спешите, регистрация уже началась!
    </h4>
  </div>
</section>
